@CHARSET "ISO-8859-1";

body{
  background-color: rgba(46, 61, 123, 0.49) !important;	
}

.heading{
	border: 1px solid;
  	height: 12%;
}

.heading > h1{
	margin-left: 27%;
}

ul.nav.nav-tabs {
	margin-top: 1%;
}

ul.nav.nav-tabs li a {
	color: black !important;
}

.employee-registration-form{
    margin: 2% 0 4% 0;
    width: 100%;
    margin-left: 33%;
    padding: 2% 0 2% 0;
}

.employee-registration-form > .btn-success {
	margin-left: 6%;
}

.success-message {
	color: green;
}

.reg-form-input{
    width: 30% !important;
}

.footer {
    position: fixed;
    top: 95%;
    width: 100%;
    border: 1px solid;
    background-color: black;
    color: white;
    height: 4%;
    text-align: center;
    padding-bottom: 1%;
} 
  